:root {
    --background: #f8f8f8;
    --text-color: #333;
    --shadow-color: rgba(70, 70, 70, 0.1);
    --black-shadow-color: rgba(1, 1, 1, 0.09);
    --border-color: rgba(51, 51, 51, 0.2);
    --button-bg: #333;
    --text-white: #fff;
    --button-hover-bg: #333333;
    --button-border: rgba(1, 1, 1, 0.36);
    --button-active-border: rgba(51, 51, 51, 0.23);
    --button-hover-border: rgba(51, 51, 51, 0.76);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    overflow: hidden;
}

.main {
    flex-direction: column;
    height: 92vh;
    width: 100vw;
}

.main__header {
    width: 100%;
    height: 11vh;
}

.main__title {
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--text-color);
}

.main__section {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.main__select,
.main__qr-code {
    width: 25vw;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 10px var(--shadow-color);
}

.main__input:focus,
.main__select:focus,
.main__qr-code {
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.main__input:hover,
.main__select:hover,
.main__qr-code {
    box-shadow: 0 0 8px var(--shadow-color);
}

.main__action {
    width: 25vw;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 10px var(--shadow-color);
}

.main__input {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 10px var(--shadow-color);
}

.main__generate-button {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 10px var(--shadow-color);
}

.main__generate-button:hover {
    opacity: 0.8;
    box-shadow: 0 0 19px var(--black-shadow-color);
}

.main__generate-button:active {
    opacity: 0.9;
    box-shadow: 0 0 6px var(--shadow-color);
}

.main__select option {
    font-size: 1rem;
}

.main__qr-code {
    width: 25vw;
    height: 25vw;
    padding: 10%;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: 0 0 20px var(--shadow-color);
}

img {
    max-width: 100% !important;
    max-height: 100% !important;
}

.main__buttons {
    width: 25vw;
    justify-content: space-between;
}

.main__btn {
    width: 48%;
    height: 50px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.main__btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px var(--shadow-color);
}

.main__btn:active {
    opacity: 0.9;
    box-shadow: 0 0 6px var(--shadow-color);
}

.main__download-button {
    background-color: var(--button-bg);
    color: var(--text-white);
    text-decoration: none;
}

.main__download-button:active {
    background-color: var(--button-hover-bg);
}

.main__share-button {
    background-color: var(--background);
    color: var(--text-color);
    border: 1px solid var(--button-border);
}

.main__share-button:hover {
    opacity: 0.8;
    border: 1px solid var(--button-hover-border);
}

.main__share-button:active {
    opacity: 0.9;   
    border: 1px solid var(--button-active-border);
}

.footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
    width: 100%;
    font-size: 1rem;
    color: var(--text-color);
}

.footer__link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:active {
    opacity: 0.9;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


/* Responsive design */

@media screen and (max-width: 769px) {
    .main {
        padding: 20px;
        height: 100dvh;
    }

    .main__header {
        height: 10vh;
    }

    .main__section {
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .main__title {
        font-size: 1.7rem;
    }

    .main__action,
    .main__select{
        width: 100%;
    }

    .main__input {
        width: 70%;
        border-radius: 5px;
    }

    .main__generate-button {
        width: 30%;
        border-radius: 5px;

    }

    .main__qr-code {
        width: 70vw;
        height: 70vw;
        padding: 10px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
        box-shadow: 0 0 20px var(--shadow-color);
    }   

    img {
        width: calc(100% - 20px) !important;
        height: calc(100% - 20px) !important;
    }

    .main__buttons {
        width: 80%;
        gap: 10px;
    }

    .main__btn {
        width: 100%;
        margin-top: 10px;
    }

    .footer {
        position: relative;
        margin-top: 10px;
        font-size: 1rem;
    }
}